<h1> En construcción </h1>
<a href=»/»>Inicio</a> | <a href=»/usuarios»>usuarios</a>
<!– Latest compiled and minified CSS –>
<link rel=»stylesheet» href=»https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css» integrity=»sha384-BVYiiSIFeK1dGm7JRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u» crossorigin=»anonymous»>
